# python and other stuff
__pycache__
.vscode
*.pyc
*.so
*.ipynb
*.ipynb_checkpoints
~*

# MAC stuff
*.idea/
.DS_Store
.DS_Store?
.Trashes

# ckpts
resources/ckpts
!resources/ckpts/.gitkeep

# data
resources/*dataset
results
*.zip